# PostgreSQL
# --------------------------------

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=postgres
POSTGRES_USER=
POSTGRES_PASSWORD=

AIRFLOW_PSQL_USER=
AIRFLOW_PSQL_PASS=
SUPERSET_PSQL_USER=
SUPERSET_PSQL_PASS=

# Airflow
# --------------------------------

AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__CORE__FERNET_KEY=
AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION=true
AIRFLOW__CORE__TEST_CONNECTION=Enabled
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://${AIRFLOW_PSQL_USER}:${AIRFLOW_PSQL_PASS}@postgres:${POSTGRES_PORT}/airflow_meta
AIRFLOW_CONN_ANALYTICS=postgres://${AIRFLOW_PSQL_USER}:${AIRFLOW_PSQL_PASS}@postgres:${POSTGRES_PORT}/analytics
AIRFLOW_UID=50000

# Superset
# --------------------------------

SUPERSET_USER=
SUPERSET_PASS=
SUPERSET_PORT=8088
SUPERSET_SQLALCHEMY_DATABASE_URI=postgresql+psycopg2://${SUPERSET_PSQL_USER}:${SUPERSET_PSQL_PASS}@${POSTGRES_HOST}:${POSTGRES_PORT}/superset_meta
SUPERSET_CONN_ANALYTICS=postgresql+psycopg2://${SUPERSET_PSQL_USER}:${SUPERSET_PSQL_PASS}@postgres:${POSTGRES_PORT}/analytics
SUPERSET_SECRET_KEY=
